
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
<%= link_to 'Home' ,root_path ,class:"navbar-brand" %>
    
    <form class="d-flex">
      <i class="fa-solid fa-cart-plus"><%= link_to 'Add to cart' ,carts_adddata_path ,class:"navbar-brand" %></i>
    </form>
  </div>
</nav>
