<h1>Editing cart</h1>

<%= render "form", cart: @cart %>

<br>

<div>
  <%# <%= link_to "Show this cart", @cart ,class:"btn btn-outline-success" %>
  <%= link_to "Back to product", carts_path ,class:"btn btn-outline-dark"%>
</div>
